<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Formule Solo</title>
</head>
<body>
  <body>
    <div class="container">
      <div class="ml-15" >
        <a class="btn btn-secondary" href="/" role="button">Accueil</a>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 shadow p-3 mb-5 bg-grey rounded">
          <div class="card mt-2">
            <img class="card-img-top " src="/assets/tiger.jpg" alt="image">
              <div class="card-body">
                <h5 class="card-title">Individuel</h5>
                  <p class="card-text  text-dark ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque atque cum accusantium at iste saepe sunt quam porro dolor eius ipsa velit natus a debitis voluptatibus minima voluptates nam veniam dolorum non, ab animi? Consectetur nihil tempore modi beatae aliquam optio officiis quisquam blanditiis, natus, dolorem laborum perferendis! Alias, omnis.</p>
              </div>    
          </div>
        </div>
        
  
   
    <form class="Form-horizontal col-sm-12 col-md-6 col-lg-6 shadow p-3 mb-5 bg-grey rounded" method="POST" action="/formuletroispersonnes">
      <fieldset>
        <div class="form-group">
          <label class="col-md-12 control-label" for="name">Name</label>
            <div class="col-md-12">
              <input  id="name" name="name" type="text" placeholder="entre name" class="form-control input-md">
            </div>
        </div>
   
        <div class="form-group">
          <label class="col-md-12 control-label" for="email">Email</label>
            <div class="col-md-12">
              <input  id="email" name="email" type="text" placeholder="entre email" class="form-control input-md">
            </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-12 control-label" for="mobile">Téléhpone mobile</label>
            <div class="col-md-12">
              <input  id="mobile" name="mobile" type="number" placeholder="entre mobile" class="form-control input-md">
            </div>
        </div>
  
        <div class="form-group">
          <label class="col-md-12 control-label" for="date">Date</label>
            <div class="col-md-12">
              <input  id="date" name="date" type="date" placeholder="entre name" class="form-control input-md">
            </div>
        </div>
    
        <div class="form-group">
          <label class="col-md-12 control-label" for="time">Time</label>
            <div class="col-md-12">
              <input  id="time" name="time" type="time" placeholder="entre time" class="form-control input-md">
            </div>
        </div>
  
        <div class="form-row">
          <div class="col-auto m-auto">
            <label class="sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select " id="inlineFormCustomSelect">
                <option selected>Choix de la ville</option>
                <option value="1">Paris</option>
                <option value="2">Colombes</option>
                <option value="3">Suresnes</option>
                <option value="4">Bezons</option>
                <option value="5">Puteaux</option>
              </select>
          </div>
        </div>
    <div class="form-group">
      <div class="col-md-4 m-auto pt-5">
      <button id="submit" name="submit" class="btn btn-primary">Book</button>
      </div>
    </div>
  </div>
  </fieldset>
  </form>
  </div>
  
  </div>  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="/client/index.js"></script>
</body>
</html>